*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}


/*---------------------------------
------------КОММЕНТАРИИ------------

Мне не удалось воспроизвести ряд ошибок, указанных в замечаниях.

1 ---------------------------
замечание про цвет фона карточки:

вот у меня такой макет - https://disk.yandex.ru/i/LT5Pk6ITqu0QTQ 
так указан цвет HEX: #545050; RGB: rgba(84, 80, 80, 1);

2 ---------------------------

замечение про границы карточки при фокусе TABом:

по TAB аутлайн появляется. вот скрин:
https://disk.yandex.ru/i/jQyTm4jyXzMpFA

3 ---------------------------

размер постера в карточках:
у меня пискельперфект показывает все нормально:
https://disk.yandex.ru/i/4unYs43-mJuzfA

размер посетра в карточках соответсвует макету:
https://disk.yandex.ru/i/5mUZLvkAlRtEcw
https://disk.yandex.ru/i/gnXuA2RUAyqGtA

*/

.content {
  display: flex;
  align-items: flex-start;
  width: 1140px;
  height: 534px;
  gap: 30px;
}


/* --- VIDEO section --- */
/*#region*/

.result__video-container {
  position: relative;
  width: 711px;
  height: 386px;
  margin-top: 78px;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 16px;
}

.search-form__fieldset {
  border: none;
}

.search-form__fieldset-title {
  font-family: 'Fira Sans Condensed',  sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.6px;
  text-align: left;
  text-transform: initial;
  min-height: 22px;
  margin-bottom: 7px;
}

.search-form__label {
  position: relative;
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.6px;
  text-align: left;
  padding: 0 1.7px;
}

.search-form__label-text {
  display: block;
  appearance: none;
  font-family: 'Fira Sans Condensed',  sans-serif;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
} 

.search-form__textfield { 
  appearance: none;
  font-family: 'Fira Sans Condensed',  sans-serif;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.3);
  background: transparent;
  width: 225px;
  border:none;
  border-top: 1px solid rgb(255, 255, 255);
  border-bottom: 1px solid rgb(255, 255, 255);
}



.search-form__textfield:active {
  border:none;
  outline: white solid 1px;
  outline-offset: 1px;
}

.search-form__textfield:focus-visible {
  outline: white solid 1px;
  outline-offset: 1px;
}

/* --- CHECKBOX --- */


.search-form__checkbox-list {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.search-form__pseudo-checkbox {
  height: 18px;
  width: 18px;
  outline: 1px solid rgb(255, 255, 255);
  outline-offset: -1px;
  margin-right: 5px;
}


.search-form__checkbox:checked + .search-form__pseudo-checkbox {
  height: 18px;
  width: 18px;
  background-color: rgb(255, 255, 255);
  outline: 1px solid rgb(0, 0, 0);
  outline-offset: -2px;
  margin-right: 5px;
} 

.search-form__label:hover .search-form__label-text {
  text-decoration:underline;
  text-underline-offset: 3px;
}

.search-form__label:has(.search-form__checkbox:focus-visible) {
  outline: white solid 1px;
  outline-offset: -1px;
}


/* --- BUTTON --- */

.button {
  font-family: 'Fira Sans Condensed',  sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 21.6px;
  text-align: center;
  border: none;
  outline: white solid 1px;
  outline-offset: -1px;
  background-color: transparent;
  color:rgb(255, 255, 255);

  padding: 6px 0;
}

.search-form__submit-button {
  padding-right: 73.5px;
  padding-left: 73.5px;
  align-self: flex-end;
}

.button:active {
  background-color: rgb(84, 80, 80);
}

.button:hover {
  text-decoration: underline;
  text-underline-offset: 3px;
}

.button:focus {
  outline: white solid 1px;
  outline-offset: -1px;
}

.button:focus-visible {
  outline: white double 3px;
  outline-offset: -3px;
}

.button, a, video, .search-form__label:has(.search-form__checkbox) {
  cursor: pointer;
}

/*#endregion*/
/* ---------------------- VIDEO VARIANTS section -------------------------------- */

.content__details {
  height: 100%;
}

.title {
  font-family: 'Oswald',  sans-serif;
  font-size: 75px;
  font-weight: 700;
  line-height: 70.5px;
  text-align: left;
  text-transform: uppercase;
  color:  rgba(255, 255, 255, 1);
  margin-top: 2px;
  margin-left: 2px;
}

.content__accent {
  color:rgba(84, 80, 80, 1);
}

.content__list {
  position: relative;
  height: 295px;
  margin-top: 28px;
  overflow-y: scroll;
}

.content__list-item:not(:last-of-type):not(:first-of-type) {
  margin-top: 34px;
}

.content__card-link {
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
}

/*
вот у меня такой макет - https://disk.yandex.ru/i/LT5Pk6ITqu0QTQ 
так указан цвет HEX: #545050; RGB: rgba(84, 80, 80, 1);
*/
.content__card-link:active .content__video-card-description-container{
  background-color: rgb(84, 80, 80);
}

.content__card-link:hover {
  text-decoration: underline;
}

/*
по TAB аутлайн появляется. вот скрин:
https://disk.yandex.ru/i/jQyTm4jyXzMpFA
*/

.content__card-link:focus {
  outline:none;
}

.content__card-link:focus-visible {
  outline: white solid 1px;
  outline-offset: -1px;
}

.content__video-card {
  display: flex;
  width: 399px;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  object-fit: fit;
}

/*
предложенный вариант переполнения требует фиксированной ширины текстового контейнера.
в задание сказано, что нужно просто сделать по всей ширине до постера.

сделал согласно замечаниям
*/

.content__video-card-description-container {
  width:200px;  
  padding-bottom: 4px;
  padding-left: 2px;
}

.content__video-card-title {

  font-family: 'Oswald',  sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 30px;
  text-align: left;
  text-transform: uppercase;
  margin-bottom: 6px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.content__video-card-description {
  
  height: 65px;
  font-family: 'Fira Sans Condensed',  sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 16.2px;
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
}


.more-button {
  width: 100%;
  margin-top: 32px;
}