*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.content {
  display: flex;
  align-items: flex-start;
  width: 1140px;
  height: 534px;
  gap: 30px;
}


/* --- VIDEO section --- */
/*#region*/

.result__video-container {
  position: relative;
  width: 711px;
  height: 386px;
  margin-top: 78px;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 16px;
}

.search-form__fieldset {
  border: none;
}

.search-form__fieldset-title {
  font-family: 'Fira Sans Condensed';
  font-size: 18px;
  font-weight: 400;
  line-height: 21.6px;
  text-align: left;
  text-transform: initial;
  min-height: 22px;
}

.search-form__label {
  position: relative;
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.6px;
  text-align: left;
  margin-top: 7px;
  min-height: 25px;
}

.search-form__label-text {
  appearance: none;
  font-family: 'Fira Sans Condensed';
}

.search-form__label-text:hover {
  text-decoration:underline;
  text-underline-offset: 3px;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
} 

.search-form__textfield { 
  appearance: none;
  font-family: 'Fira Sans Condensed';
  font-size: 18px;
  color: rgba(255, 255, 255, 0.3);
  background: transparent;
  width: 225px;
  border:none;
  box-shadow: 
    0 1px rgb(255, 255, 255),
    0 -1px rgb(255, 255, 255);
}

.search-form__textfield:focus {
  outline: white solid 1px;
  outline-offset: 1px;
}

/* --- CHECKBOX --- */


.search-form__checkbox-list {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.search-form__pseudo-checkbox {
  height: 18px;
  width: 18px;
  border: 1px solid #FFFFFF;
  margin: 0.5px 0;
  margin-right: 5px;
}


.search-form__checkbox[type="checkbox"]:checked + span {
  background-color: rgb(255, 255, 255);
  height: 17px;
  width: 17px;
  border: 1px solid rgb(0, 0, 0);
  box-shadow: 
    0 0 0 1px rgb(255, 255, 255);
  margin: 0.5px 1px;
  margin-right: 5px;
}

  .search-form__label:has(.search-form__checkbox:focus-visible) {
  outline: white solid 1px;
  outline-offset: 1px;
}


/* --- BUTTON --- */

.button {
  font-family: 'Fira Sans Condensed';
  font-size: 18px;
  font-weight: 700;
  line-height: 21.6px;
  text-align: center;

  background-color: transparent;
  color:rgb(255, 255, 255);
  border: 1px solid #FFFFFF;

  height: 34px;
}

.search-form__submit-button {
  width: 194px;
  align-self: flex-end;
}

.button:active {
  background-color: rgba(255, 255, 255, 0.3);
}

.button:hover {
  text-decoration: underline;
  text-underline-offset: 3px;
}

.button:focus {
  outline: white solid 1px;
  outline-offset: -3px;
}

button, a, video, input[type='checkbox'] + span{
  cursor: pointer;
}

/*#endregion*/
/* --- VIDEO VARIANTS section --- */

.content__details {
  height: 100%;
  overflow-y: scroll;
}

.title {
  font-family: 'Oswald';
  font-size: 75px;
  font-weight: 700;
  line-height: 70.5px;
  text-align: left;
  text-transform: uppercase;
  color: rgba(84, 80, 80, 1);
}

.content__accent {
  color: rgba(255, 255, 255, 1);
}

.content__list {
  margin-top: 28px;

}

.content__list-item {
  height: 103px;
}



.content__list-item:not(:last-of-type) {
  margin-bottom: 34px;
}

.content__card-link {
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
}

.content__card-link:active .content__video-card-description-container{
  background-color: rgba(255, 255, 255, 0.3);
}

.content__card-link:hover {
  text-decoration: underline;
}

.content__card-link:focus {
  outline: white solid 1px;
  outline-offset: -1px;
}

.content__video-card {
  display: flex;
  justify-content: space-between;
}

.content__video-card-description-container {
  display: flex;
  flex-direction: column;
  width:100%;
}

.content__video-card-title {
  font-family: 'Oswald';
  font-size: 30px;
  font-weight: 700;
  line-height: 30px;
  text-align: left;
  margin-bottom: 6px;
}

.content__video-card-description {
  font-family: 'Fira Sans Condensed';
  font-size: 18px;
  font-weight: 400;
  line-height: 16.2px;
  text-align: left;
}


.content__video-card-thumbnail {
  width: 194px;
  object-fit: fit;
}

.more-button {
  width: 100%;
}